/**********************************************************************version desktop**************************************************************************************/
/****************************************************************************** généralité**********************************************************************************/

li{
    list-style:none;
}
a{
    text-decoration: none;
    color:black;
}
.tittleToPad{
    padding-left: 35px;
    font-size: 20px;
}
.moreTitle
.moreEach:hover,.eachAside:hover,.each:hover{
    transform:scale(1.05);
}
img{
    object-fit:cover;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    max-width: 2100px;
}
#main{
    width: 100%;
}

/*********************************************************************************header***********************************************************************************/
header{
    margin: 0px 90px;
}
h1{
    font-size: 24px;
    font-weight: 700;
}
nav {
    display:flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 0px 20px;
    color:#0065FC ;
}
#login{
    font-weight: bolder;
    color:#0065FC;
    font-size: 15px;
    order:1;
    padding-top: 40px;
}
.choix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    border : 2px solid #F2F2F2 ;
    border-radius: 80px;
    margin:10px;
    font-weight: 400;
    padding-right:45px;
    color:black;   
}
.filterChoice{
    margin-left:20px;
    font-weight: 600;
}
#titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 120px;
    object-fit: cover;
}
.navOption{
    color:black;
    padding: 38px 15px;
    margin-right: 30px;
    font-size: 15px;
}
.navOption:hover{
    border-top:solid 4px #0065FC;
    color:#0065fc;
}
#filterTitle{
    margin-right: 40px;
}
#filter{
    display:flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bolder;
}
.choix:hover{
    background-color: #DEEBFF;
    color:#0065FC;
    font-size: 1.1em;
}
#input{
    font-size: 15px;
}
#submit{
    background-color: #0065FC;
    color:white ;
    border-radius: 0 20px 20px 0;
    font-weight: bold;  
    border: solid #0065FC;
    width: 134px;
    font-size:15px;  
}
#submitMob{
    display: none;
}
form{
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    height: 50px;
}
button , input {
    border: 2px solid #F2F2F2;
    background: none ;
    font-weight: 800;
    padding-left: 15px;
}
#locate { 
    background-color:#F2F2F2 ;
    color:black;
    border-radius: 20px 0px 0px 20px ;
    font-size: 20px;
}
button{
    width: 52px;
}
.info{
    color:black;
    font-weight: 400;
    font-size: 15px;
}
.logochoix{
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 70%;
    color:#0065FC;
    height: 100%;
    text-align: center;
}
.fa-info{
    border:solid #F2F2F2 2px;
    height: 10px;
    width: 10px;
    border-radius: 30px;
    text-align: center;
    color:#0065FC;
    font-size:0.8em;
    padding: 4px;
}

/***********************************************************************section principale id=Main************************************************************************/

.mainPic{
    height: 115px;
    width: 93%;
    border-radius: 25px 25px 0 0 ;
    object-fit:cover;
    border: 8px solid white;
}
#main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap-reverse;
}
.result{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#content,aside{
    border-radius: 30px;
}
.each{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color:black;
    box-shadow:10px 10px 10px #a8a0a0;
    width: 25%;
}
.rating{
    display: flex;
    padding: 5px 0 10px 0px;
    font-size:15px;
}
.mainLink{
    width:100% ;
}
.AsideRating{
    padding-top:35px;
}
.fa-star{
    color:blue;
    margin-left: 3px;
}
.grey{
    color:#c9bebe
}
.asidePic{
    height: 88%;
    width: 40%;
    border-radius:  25px 0 0 25px ;
    object-fit: cover;
    border: 7px solid white;
}
.eachAside{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 20px;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    height: 25%;
    align-items: center;
    box-shadow:10px 10px 10px #a8a0a0;
}
#content{
    width: 65%;
    margin-bottom: 50px;
    background-color : #F2F2F2 ;
} 
aside{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 50px;
    background-color : #F2F2F2 ;
} 
#asideTitle{
    display: flex;
    justify-content: space-between;
    padding-right:45px;
}
h4{
    font-weight:800;
    font-size:15px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 5px;
}
.hotel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:20px;
}
a.eachAside>div.hotel{
    margin:5px 6px ;
}
/***********************************************************************************more**********************************************************************************/

#more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    margin: 0 35px;
}
.more{
    width: 25%;
    margin:0 5px;
}
.moreSmall{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}
#moreTitle{
    margin: 0px 50px 20px;
}
.moreBig{
    height: 94%;
}
.moreBigPic{
    height: 89%;
    width:100%;
    border-radius: 30px 30px 0 0 ;
} 
.moreSmallPic{
    width: 100%;
    border-radius: 30px 30px 0 0 ;
}
#fort{
    height: 182px;
}
#frioul{
    height: 109px;
}
#dame{
    height: 140px;
}
#longchamps{
    height: 153px;
}
.moreEach{
    border:solid transparent 1px;
    border-radius: 30px;
    margin:10px;
    box-shadow:10px 10px 10px #a8a0a0;
}
.moreTitle{
    margin: 15px 25px;
    font-weight:800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}
.moreEachLink{
    display:block;
}
div.moreBig>div.moreTitle{
    margin: 10px 25px;
}
/*********************************************************************************footer***********************************************************************************/

.footerChoice{
    margin-top: 15px;
}
.footerChoice:hover{
    transform: scale(1.1);
    font-weight: 500;
}
footer{
    display: flex;
    height:35%;
    width:100%;
    margin-top:30px;
    background-color : #F2F2F2 ;
}
.footerList{
    padding:20px 260px 20px 50px;
}
/****************************************************************media querries téléphone*******************************************************************************/
@media (max-device-width: 480px) {
    /********************************************************generalité***********************************************************************************/
  
    body{
        display: block;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }
    h4{
        font-size: 1.05em;
    }
    .moreEach:hover,.eachAside:hover,.each:hover{
        transform:scale(1);
    }
    /*********************************************************************************header***********************************************************************************/
    header{
        margin:50px auto;
    }
    #titre{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100% ;
    }
    h1{
        font-size: 40px;
        margin-left:50px;
    }
    nav{
        display: block ;
        width:100%;  
        padding:0 ;
        font-size:1.5em; 
    }
    .ancres{
        width: 100%;
        margin-right: -50px ;
    }
    #logo{
        transform: scale(1.6) ;
        margin: 20px 60px ;
    }
    #login{
        font-size: 1.5em ;
        position:absolute;
        top:0;
        right:0;
    }
    #form{
        width: 90% ;
        height:100px ;
        margin:40px auto;
    }
    #submit{
        display:none;
    }
    #submitMob{
        display: block ;
        background-color: #0065FC;
        color:white ;
        border-radius: 30px;
        border: solid #0065FC;
        height:100px;
        width:14%;
        font-size: 35px;
    }
    .fa-search{
       font-size:35px;
       margin-right: 5px;
    }
    #locate{
        width:10% ;
        font-size: xx-large ;
    }
    #input{
        border-right: none ;
        font-size:35px;
        font-weight: 600;
    }
    button, input{
        width:100%;
    }
    .submit{
        border-radius: 20px ;
    }
    #filterTitle{
        width: 100% ;
    }
    .choix{
        padding-right: 15px;
        height: 75px;
    }
    .choixList{
        width:50%;
    }
    .logochoix{
        width: 35px;
        font-size:30px;
        padding:20px;
        height: 35px;
    }
    #filter{
        flex-flow: row wrap ;
        align-items: flex-start ;
        width: auto;
        padding-left: 0 ;
        margin:0 50px;
        font-size:1.4em;
    }
    .filterChoice{
        font-size: 1.5em;
        font-weight: 600;
    }
    .fa-info{
        height: auto ;
        width: 50px ;
        border-radius: 50%;
    }
    #ancres{
        display: flex;
        flex-direction: row;
        justify-self: stretch;
    }
    .info{
        font-size: 20px;
        margin: 20px 50px;
    }
    .ancre{
        width: 50%;
        padding-bottom: 25px ;
        border-bottom: solid #F2F2F2 5px;
        margin:0 ;
        margin-bottom: 35px ;
        text-align: center;
        font-size: 1.5em ;
    }
    .navOption:hover{
        color:#0065FC;
        border-top: none ;
        border-bottom: solid #0065FC 5px;
        font-weight: bold;
    }
    /***********************************************************************section principale id=Main************************************************************************/
    a.mainLink{
        width: 100% ;
        height:100% ;
    }
    #main{
        height:60%;
    }
    .result{
        width: 100%;
        display: block;
    }
    .hotel{
        margin-left: 35px;
    }
    #content{
        background-color:transparent ;
        margin:0px 15px ;
        width:100% ;
        height: 60%;
    }
    .each{
        height: 550px ;
        box-shadow: 10px 10px 10px #F2F2F2, -10px -10px 10px #F2F2F2 ;
        width: 90%;
        margin: 50px 5%;
    }
    .mainPic{
        width: 98% ;
        height: 65% ;
        object-fit:cover ;
        position: relative ;
        right:5px ;
        left: 5px ;
        top: 5px ;
    }
    .rating{
        font-size: 30px;
        padding: 15px;
    }
    .AsideRating{
        padding-top: 100px ;
    }
    #aside{
        width:100%;
        border-radius: 0;
        padding: 15px;    
    }
    a.eachAside{
        width: 95% ;
        height: 25%;
    }
    .asidePic{
        height: 93% ;
        width:50%;
        border: white solid 12px;
    }
    a.eachAside>div.hotel{
        justify-content: center;
        padding-left: 10px;
        width: 40%;
    }
    .hotel>span{
        font-size: 35px;
    }
    div.hotel>h4{
        font-size: 40px;
    }
    /***********************************************************************************more**********************************************************************************/
    #more{
        display: block ;
        margin:30px ;
    }
    .moreEach{
        width: 90% ;
        height: 500px ;
        margin:15px 5% ;
    }
    .tittleToPad,#moreTitle{
        font-size: 3.5em;
    }
    .moreSmall{
        width: 100% ;
    }
    h3{
        font-size: 2em;
    }
    .moreTitle,div.moreBig>div.moreTitle{
        font-size:2.8em;
        margin:45px 55px

    }
    .morePic,#garde,#frioul,#garde,#fort,#dame,#longchamps{
        height: 70% ;
        width:100% ;
    } 
    /*********************************************************************************footer***********************************************************************************/
    footer{
        flex-direction: column;
        align-content: center;
    }
    .footerChoice{
        width: 100% ;
        font-size: 2.5em;
        padding: 15px 0;
    }
    .footerList{
        padding:40px;
    }
    li>h3{
        font-size: 3.2em;
    }
    }
    /*********************************************************************version tablette*************************************************************************************/
    @media (min-device-width: 480px) and (max-device-width: 1380px) {
    header{
        margin: 40px;
    }
    .navOption:hover{
        border:solid #0065FC 2px;
        border-radius: 10px;
        padding:10px;
        background-color: #DEEBFF;
        font-weight: bold;
    }
    .info{
        font-size: 18px;
    }
    #main{
        flex-direction: column-reverse ;
        align-items: center ;
        height: 60%;
    }
    form{
        justify-content: center ;
        height: 60px ;
    }
    #filter{
        justify-content: flex-end;
    }
    .choixList{
        width: 35%;
    }
    #content{
        width: 96% ;
        margin:40px 0;
        background-color: transparent ;
    }
    .choix{
        padding-right: 20px;
    }
    .choixList{
        margin-right: 50px;
        font-size:20px;
    }
    #content{
        height: 50%;
    }
    .each{
        box-shadow:10px 10px 10px #F2F2F2 , -10px -10px 10px #F2F2F2 ;
    }
    #asideTitle {
        flex-direction: column;
        justify-content: space-between;
        padding:0 20px;
        width: 10%;
        font-size: 24px;
    }
    footer{
        justify-content: space-around ;
    }
    .footerList{
        width: 25% ;
        padding: 20px 0 ;
    }
    .moreTitle{
        margin: 3px 25px 15px ;
        height: auto ;
    }
    aside{
        flex-direction: row;
        align-items: center;
        width: 100%;
        height:200px;
        border-radius: 0;
    }
    a.eachAside{
        height: 90%;
        width: 28%;
        margin:0 10px;
    }
    a.eachAside>div.hotel{
        height: 100%;
        padding:5px 10px 0 0;
        margin:0;
        justify-content: space-between;
    }
    .AsideRating{
        padding-top: 5px;
        justify-content: flex-end;
    }
    .asidePic{
        height: 92%;
        width: 45%;
    }
    .result{
        justify-content: space-between;
    }
    .each{
        width: 32%;
        margin:20px 0;
    }
    .hotel{
        font-size: 1.2em;
    }
    h4{
        font-size: 1.2em;
    }
    .morePic{
        height: 85%;
    }
    #moreTitle,.tittleToPad{
        font-size: 2em;
    }
    }
        