/*media querries téléphone*/
@media (max-device-width: 480px) {
#titre{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.choix{
    padding-right: 25px  !important;
}
#filter{
    flex-direction: column !important;
    align-items: flex-start !important;
    width: 100%;
}
#FamilialEco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.mainLink{
    width: 100%;
}
.each{
    align-items: stretch;
}

#login{
    align-items: flex-end;
    margin-right: 5px;
    order:-1;
}
.moreBigPic,.moreSmallPic{
    height: 135px !important;
    width:100% !important;
}
li{
    margin-right: 0 !important;
    width: 40%;
}
.ancre{
    width: 50%;
    padding-bottom: 5px;
    border-bottom: solid #F2F2F2 5px;
    margin:0 !important
}
.navOption:hover{
    color:#0065FC;
    border-top: none !important;
    border-bottom: solid #0065FC 5px;
}
img.mainPic{
    width:99%;
}
#aside{
    width:100%;
    border-radius: 0;
}
a.eachAside{
    width: 90%;
    height:145px;
    margin-left:5%;
    justify-content: center;
    align-items: stretch;
}
footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:100%;
    height:15%;
    margin-top:30px;
    background-color: #F2F2F2;
}
#more{
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: space-between !important;
}
#content{
    background-color: transparent !important;
}
.moreEachLink,.moreEach,.moreSmall{
    height: 180px;
    width: 100%;
    padding-bottom: 35px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#main{
    margin-left: 0 !important;
}
.asidePic{
    height: 93%;
    width: 38%;
}
}
/* généralité*/
header, #moreTitle{
    margin: 0px 50px;
}
li,nav{
    list-style:none;
}
a{
    text-decoration: none;
    color:black;
}
.tittleToPad{
    padding-left: 35px;
}
.moreEach:hover,.eachAside:hover,.each:hover,.submit:hover,#moreLink:hover{
    transform:scale(1.05);
}
img{
    object-fit:cover;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}
#main{
    width: 100%;
}

/* header*/

h1{
    font-size: 1.6rem;
    font-weight: 1000;
}
nav {
    display:flex;   
    position:absolute;
    padding: 0px 20px;
    top: 0;
    right: 0;
    color:#0065FC ;
}
#login{
    font-weight: bolder;
    color:#0065FC;
    font-size: x-large;
}
.choix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    border : 2px solid #F2F2F2 ;
    border-radius: 80px;
    margin:10px;
    font-weight: 400;
    padding-right:45px;
    color:black;   
}
.filterChoice{
    margin-left:20px;
    font-weight: 900;
}
#titre{
    display: flex;
    align-items: center;
}
#logo{
    width: 100px;
    object-fit: cover;
}
.navOption{
    color:black;
    padding: 30px 15px 0px;
    margin-right: 30px;
    font-size: large;
}
.navOption:hover{
    border-top:solid 2px #0065FC;
    color:#0065fc;
}
#filterTitle{
    margin-right: 40px;
}
#filter{
    display:flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bolder;
}
.choix:hover{
    background-color: #DEEBFF;
    color:#0065FC;
    font-size: 1.2em;
    font-weight: bold;
}
.submit{
    background-color: #0065FC;
    color:white ;
    border-radius: 0 20px 20px 0;
    font-weight: bold;  
    border: solid #0065FC;
    width: 134px;  
}
form{
    display: flex;
    justify-content: flex-start;
    width: 420px;
    border-radius: 20px;
    height: 50px;
}
button , input {
    border: 1px solid #F2F2F2;
    background: none ;
}
#locate { 
    background-color:#F2F2F2 ;
    color:black;
    border-radius: 20px 0px 0px 20px ;
    font-size: large;
}
button{
    width: 52px;
}
.info{
    color:black;
    font-weight: bold;
    font-size: larger;
    font-size: 13px;
}
.logochoix{
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 80px;
    color:#0065FC;
}
.fa-info{
    border:solid #F2F2F2 2px;
    height: 10px;
    width: 10px;
    border-radius: 30px;
    text-align: center;
    color:#0065FC;
    font-size:0.8em;
    padding: 4px;
}

/*section principale id=Main*/

.mainPic{
    height: 115px;
    width: 236px;
    border-radius: 25px 25px 0 0 ;
    object-fit:cover;
    border: 4px solid white;
}
#main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap-reverse;
}
.result{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#content,aside{
    border-radius: 30px;
}
.each{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color:black;
    box-shadow:10px 10px 10px #a8a0a0;
}
.rating{
    display: flex;
    padding: 5px 0 10px 0px;
}
.AsideRating{
    padding-top:35px;
}
.fa-star{
    color:blue;
    margin-left: 3px;
}
.grey{
    color:#c9bebe
}
.asidePic{
    height: 134px;
    width: 127px;
    border-radius:  25px 0 0 25px ;
    object-fit: cover;
    border: 4px solid white;
}
.eachAside{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    width: 340px;
    align-items: center;
    box-shadow:10px 10px 10px #a8a0a0;
}
#content{
    width: 980px;
    margin-bottom: 50px;
    background-color : #F2F2F2 ;
}
aside{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color : #F2F2F2 ;
}
#asideTitle{
    display: flex;
    justify-content: space-between;
    padding-right:45px;
}
h4{
    font-weight:900;
    font-size:1.2rem;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 5px;
}
.hotel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:20px;
}

/*more*/

#more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 35px;
}
.moreSmall{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
}
#moreTitle{
    margin-bottom: 20px;
}
.moreBigPic{
    height: 390px;
    width:302px;
    border-radius: 30px 30px 0 0 ;
}
#fort{
    height: 182px;
    width: 302px;
    border-radius: 30px 30px 0 0 ;
}
#frioul{
    height: 109px;
    width: 302px;
    border-radius: 30px 30px 0 0 ;
}
#dame{
    height: 140px;
    width: 302px;    
    border-radius: 30px 30px 0 0 ;
}
#longchamps{
    height: 153px;
    width: 302px;
    border-radius: 30px 30px 0 0 ;
}
.moreEach{
    border:solid transparent 1px;
    border-radius: 30px;
    margin:10px;
    box-shadow:10px 10px 10px #a8a0a0;
}
.moreTitle{
    margin: 15px;
    font-weight:900;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frioul,.longchamps{
    margin-top:20px;
}

/*footer*/

.footerChoice{
    margin-top: 15px;
}
.footerChoice:hover{
    transform: scale(1.1);
    font-weight: 500;
}
footer{
    display: flex;
    height:35%;
    width:100%;
    margin-top:30px;
    background-color : #F2F2F2 ;
}
.footerList{
    padding:20px 260px 20px 50px;
}